body#theme_nrr {
	background-color: #f8ec88;
}
body#theme_sch, body#theme_toyota, body#theme_hccbpl {
	background-color: #f4f3f8;
}
#theme_nrr .bg_all {
    background-image: url(../img/bg_with_watermark.jpg);
    height: 100vh !important;
    background-repeat: no-repeat;
    background-position: top;
}
#theme_sch .bg_all, #theme_toyota .bg_all, #theme_hccbpl .bg_all {
    background-color: #f4f3f8;
	height: 100vh !important;
}
#theme_nrr .nav-tabs > li.active > a { 
	border-bottom: 2px solid #fff; 
}
#theme_sch .nav>li>a, #theme_toyota .nav>li>a, #theme_hccbpl .nav>li>a {
	color: #337ab7 !important;
}
#theme_nrr .nav-tabs > li > a { 
	color: #fff;
}
#theme_sch .nav-tabs > li.active > a, #theme_toyota .nav-tabs > li.active > a, #theme_hccbpl .nav-tabs > li.active > a { 
	border-bottom: 2px solid #337ab7; 
}
#theme_nrr .header_bg_color_vendor, #theme_nrr .header_bg_color_client {
	background-color: #ef7532;
}
#theme_sch .header_bg_color_vendor, #theme_sch .header_bg_color_client, #theme_toyota .header_bg_color_vendor, #theme_toyota .header_bg_color_client, #theme_hccbpl .header_bg_color_vendor, #theme_hccbpl .header_bg_color_client {
	background-color: #fff;
	box-shadow: 0 1px 9px 0 rgba(36,50,66,.14);
}
#theme_nrr .navbar-brand, #theme_nrr .text-color {
    color: #fff !important;
	text-shadow: none;
}
#theme_sch .navbar-brand, #theme_sch .text-color, #theme_toyota .navbar-brand, #theme_toyota .text-color, #theme_hccbpl .navbar-brand, #theme_hccbpl .text-color {
    color: #337ab7 !important;
}
#theme_nrr .btn-expanded:after {
	content: ' \f191';
	font-family: Font Awesome\ 5 Free;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	float: left;
	color: #fff;
}
#theme_nrr .btn-collapsed:after {
	content: ' \f152';
	font-family: Font Awesome\ 5 Free;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	float: left;
	color: #555;
}
#theme_sch .btn-expanded:after, #theme_toyota .btn-expanded:after, #theme_hccbpl .btn-expanded:after {
	content: ' \f191';
	font-family: Font Awesome\ 5 Free;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	float: left;
	background: -webkit-linear-gradient( #36D1DC 0%, #1f6eb7 0%, #36D1DC 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#theme_sch .btn-collapsed:after, #theme_toyota .btn-collapsed:after, #theme_hccbpl .btn-collapsed:after {
	content: ' \f152';
	font-family: Font Awesome\ 5 Free;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	float: left;
	color: #163d7e;
}
#theme_nrr .themeColor {
    color: #e55032;
	font-family: 'Nunito Sans', sans-serif;
}
#theme_sch .themeColor, #theme_toyota .themeColor, #theme_hccbpl .themeColor {
    color: #337ab7;
}
#theme_nrr .left {
	background: #e75530;
	display: inline-block;
	overflow-y: auto;
	white-space: nowrap;
	width: 49px;
	height: 100%;
	transition: all .4s ease 0s;
	/*margin-left: -150px;*/
}
#theme_sch .left, #theme_toyota .left, #theme_hccbpl .left {
	/* background: #337ab7; */
	background: #196eb7;
	display: inline-block;
	overflow-y: auto;
	white-space: nowrap;
	width: 55px; /* New UI v0.1 */
    height: 110%;
	/*height: 100vh;*/
	transition: all .4s ease 0s;
	/*margin-left: -150px;*/
	box-shadow: 1px 2px 5px rgba(0,0,0,.18); /* New UI v0.01 */
}
/* Starts New UI v0.01 */
.sidebar_menu_container .left:first-child:before {
    content: '';
    position: absolute;
    width: 100%;
	height: 5px;
	background: linear-gradient(to left, #155998, #7ab3e7 ,#155998);
}
/* Ends New UI v0.01 */
#theme_nrr .left:hover, #theme_nrr .left.expanded, #theme_sch .left:hover, #theme_sch .left.expanded, #theme_toyota .left:hover, #theme_toyota .left.expanded, #theme_hccbpl .left:hover, 
#theme_hccbpl .left.expanded {
	width: 210px;
}
#theme_nrr .titleHead {
	color: #fff;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#theme_sch .titleHead, #theme_toyota .titleHead, #theme_hccbpl .titleHead {
	color: #337ab7;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#theme_nrr nav .nr-logo, #theme_sch nav .sch_logo, #theme_hccbpl nav .hccbpl_logo {
	display: block !important;
	/* padding: 0 15px; */
	padding: 9px 12px;
}
#theme_toyota nav .toyota_logo {
	display: block !important;
	padding: 7px 15px;
}
#theme_nrr .ven_reg_heading {
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin-bottom: 80px;
	letter-spacing: 3px;
}
#theme_sch .ven_reg_heading, #theme_toyota .ven_reg_heading, #theme_hccbpl .ven_reg_heading {
	color: #0c3785;
	font-weight: bold;
	text-align: center;
	margin-bottom: 80px;
	letter-spacing: 3px;
}
#theme_nrr .ven-list-css > li > a {
    color: #337ab7;
}
#theme_nrr .ven-list-css > li.active > a {
    border-bottom: 2px solid #337ab7;
}
#theme_nrr .pr_approval > li > a {
    color: #e55032;
}
#theme_nrr .pr_approval > li.active > a {
    border-bottom: 2px solid #e55032;
}