<!DOCTYPE html>
<html lang="en">
<head>
	<title>Email Template</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>


<table width="700px" border="0" cellpadding="0" cellspacing="0" align="center" style="min-width:700px">
	<tbody>
		<tr>
			<td bgcolor="#f5f7f9" valign="middle" style="box-sizing:border-box">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td valign="top" align="center" style="padding: 25px 30px;">   
								<!--<p style="margin:0"><img src="assets/img/strip_top.png" width="100%" style="display:block" class="CToWUd"></p>-->
								<table bgcolor="#fff" width="100%" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
											<td valign="top" align="center" style="padding: 30px 25px 20px; background-color:#fff; border-radius: 6px;">
												<h4 style="font-weight: bold; float:left">LICENSE MANAGER</h4>
												<img src="https://nrrvcp.supplychainh.com/img/sch-logo-top.png" class="img-responsive" style="float:right">
												<p style="color: #0c3785; font-size: 15px; text-align: left; margin: 80px 0 20px;">Dear Customer,</p>
												<p style="color: #555; font-size: 15px; text-align: left;">This is a license expiration notification.</p>
												<p style="color: #555; font-size: 15px; text-align: left;">License of the solution SCH
                                                    <%= application_name %> is expiring in <%= license_days %> days on <%= end_date %></p>
												<p style="color: #555; font-size: 15px; text-align: left; font-weight: bold;">Kindly renew the subscription.</p>
												<p style="color: #555; font-size: 15px; text-align: left; margin-top: 20px;">The solution has so far helped your business on the following items :</p>
												<div class="row" style="margin-top: 20px">
													<div class="col-lg-4 col-sm-6">
														<div style="box-shadow: 0 15px 25px 0 rgba(36,50,66,.14); background-color: #FFFFFF; border-radius: 6px; border-bottom: 2px solid #42c4de;">
															<div style="border-top-left-radius: 6px; border-top-right-radius: 6px; background: linear-gradient(to right, #36D1DC 0%, #5B86E5 0%, #36D1DC 100%);">
																<div style="color: #fff; font-weight: 500; font-size: 16px; text-align: center; padding: 10px 4px;">
																	<i class="fas fa-cart-arrow-down"></i> Purchase Order
																</div>
															</div>
															<div style="padding: 18px 15px; min-height : 130px;">
																<div class="row">
																	<div style="color: #73879C; font-weight: normal;">
																		<div class="col-xs-12">
																			<span style="float: left; margin-top: 5px; font-size: 14px;">New</span>
																			<span style="float: right; font-size: 22px; font-weight: bold;">12</span>
																		</div>
																		<div class="col-xs-12">
																			<span style="float: left; margin-top: 5px; font-size: 14px;">Acknowledged</span>
																			<span style="float: right; font-size: 22px; font-weight: bold;">24</span>
																		</div>
																		<div class="col-xs-12">
																			<span style="float: left; margin-top: 5px; font-size: 14px;">Modified</span>
																			<span style="float: right; font-size: 22px; font-weight: bold;">36</span> 
																		</div> 
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6">
														<div style="box-shadow: 0 15px 25px 0 rgba(36,50,66,.14); background-color: #FFFFFF; border-radius: 6px; border-bottom: 2px solid #42c4de;">
															<div style="border-top-left-radius: 6px; border-top-right-radius: 6px; background: linear-gradient(to right, #36D1DC 0%, #5B86E5 0%, #36D1DC 100%);">
																<div style="color: #fff; font-weight: 500; font-size: 16px; text-align: center; padding: 10px 4px;">
																	<i class="fas fa-cart-arrow-down"></i> Adv. Shipping Note
																</div>
															</div>
															<div style="padding: 18px 15px; min-height : 130px;">
																<div class="row">
																	<div style="color: #73879C; font-weight: normal;">
																		<div class="col-xs-12">
																			<span style="float: left; margin-top: 5px; font-size: 14px;">New</span>
																			<span style="float: right; font-size: 22px; font-weight: bold;">14</span>
																		</div>
																		<div class="col-xs-12">
																			<span style="float: left; margin-top: 5px; font-size: 14px;">Acknowledged</span>
																			<span style="float: right; font-size: 22px; font-weight: bold;">25</span>
																		</div>
																		<div class="col-xs-12">
																			<span style="float: left; margin-top: 5px; font-size: 14px;">Modified</span>
																			<span style="float: right; font-size: 22px; font-weight: bold;">11</span> 
																		</div> 
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-sm-6">
														<div style="box-shadow: 0 15px 25px 0 rgba(36,50,66,.14); background-color: #FFFFFF; border-radius: 6px; border-bottom: 2px solid #42c4de;">
															<div style="border-top-left-radius: 6px; border-top-right-radius: 6px; background: linear-gradient(to right, #36D1DC 0%, #5B86E5 0%, #36D1DC 100%);">
																<div style="color: #fff; font-weight: 500; font-size: 16px; text-align: center; padding: 10px 4px;">
																	<i class="fas fa-cart-arrow-down"></i> Goods Receipt Note
																</div>
															</div>
															<div style="padding: 18px 15px; min-height : 130px;">
																<div class="row">
																	<div style="color: #73879C; font-weight: normal;">
																		<div class="col-xs-12">
																			<span style="float: left; margin-top: 5px; font-size: 14px;">New</span>
																			<span style="float: right; font-size: 22px; font-weight: bold;">54</span>
																		</div>
																		<div class="col-xs-12">
																			<span style="float: left; margin-top: 5px; font-size: 14px;">Acknowledged</span>
																			<span style="float: right; font-size: 22px; font-weight: bold;">32</span>
																		</div>
																		<div class="col-xs-12">
																			<span style="float: left; margin-top: 5px; font-size: 14px;">Modified</span>
																			<span style="float: right; font-size: 22px; font-weight: bold;">18</span> 
																		</div> 
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<p style="margin: 30px 0 10px; text-align: left; color: #555; font-size: 14px;">Regards,<br>Supply Chain Hub Team</p>
											</td>
										</tr>
									</tbody>
								</table>                             
								<!--<p style="margin:0"><img src="assets/img/strip_bottom.png" width="100%" style="display:block" class="CToWUd"></p>-->                                                     
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="middle">
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tbody>
						<tr>
							<td style="background: #196eb7; color: #dedede; text-align: center; font-size: 11px; padding: 15px;">Copyright © 2019 <a href="https://supplychainh.com/" style="color:#fff;" target="_blank">SCH License Manager</a> | All Rights Reserved.</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>                                               
	</tbody>
</table>


</body>
</html>